* {
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: 'Lato', sans-serif;
}

.filterLabelPink {
  color: #ef5b70 !important;
  left: 16px;
  top: 13px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.header {
  min-height: 75px;
  background: #222222;
  margin: 0 auto;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

@media (max-width: 768px) {
  .header__navbar {
    padding: 0px 32px;
  }
}

@media (max-width: 375px) {
  .header__navbar {
    padding: 0px 16px;
  }
}

.header__navbar_shop {
  margin-left: 33px;
}

@media (max-width: 375px) {
  .header__navbar_shop {
    display: none;
  }
}

.header__navbar_contact {
  margin-left: 33px;
}

@media (max-width: 375px) {
  .header__navbar_contact {
    display: none;
  }
}

.header__navbar_logo {
  margin-right: 41px;
}

.arrivals {
  background: #F8F3F4;
  min-height: 148px;
}

.arrivals__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 148px;
}

@media (min-width: 768px) {
  .arrivals__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 16px;
  }
}

@media (min-width: 1600px) {
  .arrivals__content {
    padding: 0;
  }
}

.arrivals__content_left {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .arrivals__content_left {
    margin-top: 0;
  }
}

.arrivals__content_title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.arrivals__content_ridth {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .arrivals__content_ridth {
    margin-top: 0;
  }
}

.arrivals__content_home {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.arrivals__content_men {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.arrivals__content_new {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.filter {
  padding: 0px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 16px 32px;
}

.filter__left {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 768px) {
  .filter__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.filter__left_title {
  display: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 11px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

@media (min-width: 768px) {
  .filter__left_title {
    display: block;
  }
}

.filter__left_img {
  display: block;
}

@media (min-width: 768px) {
  .filter__left_img {
    width: 15px;
    height: 10px;
  }
}

.filter__left_hidden {
  display: none;
}

.filter__left_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto;
}

.filter__left_category :not(:last-child) {
  margin-bottom: 24px;
}

.filter__left_category a {
  display: block;
  text-decoration: none;
  padding-left: 34px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filter__left_category a :not(:last-child) {
  margin-bottom: 11px;
}

.filter__left_header {
  font-size: 14px;
  line-height: 37px;
  color: #ef5b70;
  padding-left: 11px;
  min-height: 37px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}

.filter__left_header ::before {
  content: "";
  width: 5px;
  min-height: inherit;
  background: #ef5b70;
  position: absolute;
  left: 0;
  top: 1px;
}

.filter__ridth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__ridth_text {
  font-size: 12px;
  line-height: 14px;
  color: #6F6E6E;
}

.filter__ridth_text::after {
  content: url(img/galka.svg);
  margin-left: 9px;
}

.filter__ridth_margin {
  margin-right: 20px;
}

.filter__ridth_wrap {
  cursor: pointer;
}

.filter__ridth_size {
  position: relative;
  z-index: 1;
}

.filter__ridth_sizes {
  position: absolute;
  left: 0;
  top: 25px;
  width: 79px;
  height: 103px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #6f6e6e;
}

.filter__ridth_sizes > div:not(:last-child) {
  margin-bottom: 4px;
}

.filter__ridth_hidden {
  display: none;
}

.products__cardbox {
  display: -ms-grid;
  display: grid;
  padding: 0 8px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 16px;
}

@media (min-width: 768px) {
  .products__cardbox {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding: 0 16px;
    grid-column-gap: 16px;
  }
}

@media (min-width: 1600px) {
  .products__cardbox {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding: 0;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}

.products__cardbox_card {
  max-width: 360px;
  background: #F8F8F8;
  position: relative;
}

.products__cardbox_hidden {
  display: none;
}

@media (min-width: 1600px) {
  .products__cardbox_hidden {
    display: block;
  }
}

.products__cardbox_img {
  width: 100%;
  display: block;
  position: relative;
}

.products__cardbox_info {
  padding: 18px 25px 18px 20px;
}

.products__cardbox_title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.products__cardbox_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.products__cardbox_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__accordeon {
  margin: 40px 0px 64px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__accordeon_menu {
  width: 282px;
  min-height: 43px;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__accordeon_link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #6F6E6E;
  text-decoration: none;
}

.products__accordeon_link span {
  color: #F16D7F;
}

.feature {
  margin: 0 auto;
  background: #222224;
  margin-top: 100px;
  min-height: 341px;
}

@media (max-width: 768px) {
  .feature {
    margin-top: 65px;
    min-height: 610px;
  }
}

@media (max-width: 375px) {
  .feature {
    margin-top: 95px;
  }
}

.feature__cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 103px;
}

@media (max-width: 768px) {
  .feature__cardbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0px;
    padding-bottom: 65px;
  }
}

.feature__cardbox_card {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .feature__cardbox_card {
    margin-top: 48px;
  }
}

.feature__cardbox_margin {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .feature__cardbox_margin {
    margin-right: 0px;
  }
}

.feature__cardbox_info {
  padding-top: 28px;
}

.feature__cardbox_title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
}

.feature__cardbox_text {
  padding-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  margin: 0 auto;
  background-image: url(img/bgr_sub.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 448px;
}

@media (max-width: 768px) {
  .subscribe {
    min-height: 683px;
    padding-top: 54px;
  }
}

.subscribe__body {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .subscribe__body {
    min-height: 448px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__body_left {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .subscribe__body_left {
    margin-bottom: 48px;
  }
}

.subscribe__body_text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.subscribe__body_style {
  font-style: italic;
}

.subscribe__body_ridth {
  max-width: 557px;
}

.subscribe__body_title {
  padding-top: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
}

@media (max-width: 375px) {
  .subscribe__body_title {
    font-size: 14px;
    line-height: 21px;
  }
}

.subscribe__body_stylesub {
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}

@media (max-width: 375px) {
  .subscribe__body_stylesub {
    line-height: 36px;
  }
}

.subscribe__body_area {
  padding-top: 32px;
}

.subscribe__body_email {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  background: #E1E1E1;
  padding: 7px 64px 7px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.subscribe__body_button {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 7px;
  background: #F16D7F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.footer {
  min-height: 79px;
  background: #222224;
  margin: 0 auto;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}

@media (max-width: 768px) {
  .footer__body {
    padding: 0px 16px;
  }
}

@media (max-width: 375px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 143px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__body_text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer__body_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 375px) {
  .footer__body_social {
    margin-top: 43px;
  }
}

.footer__body_mediai :hover {
  content: url(img/4.svg);
}
/*# sourceMappingURL=style__shop.css.map */